@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0;400;0;500;1,300&display=swap');

 :root{
    --green:green;
    --black:#130f40;
    --light-color:#666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:  2rem rgb(0, 0, 0.1);
    --outline: .1rem solid rgba(0,0,0.1);

 }
 .card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 .8rem 1.5rem rgba(0, 0, 0, 0.2); /* New box-shadow on hover */
}
*{
    font-family: 'Poppins' ,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none ;
    border: none;
    text-decoration: none; /*to remove the lines which are coming as underline of navigation bar */
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}
/*css code for banner*/
section
{
 padding: 2 rem 9%;

}

.heading{
    text-align: center;
    padding:  2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black)
}
.heading  span{
    background: var(--green);
    color: #fff;
    display: inline;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}



.btn
{
    border: .2rem solid var(--black);
    margin-top: 1rem;
    display: inline;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--green);
    color: #fff;
}



.header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between; /*it distributes the header content in left side and riht side */
    padding: 2rem 15%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo
{
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo i
{
 color: var(--green);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color:var(--black)
}

.header .navbar a:hover
{
   
    color:var(--green);
}

.header .icons div
{
    border: 0 px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3 rem;
    text-align: center;
    cursor: pointer;
}

.header .icons div:hover
{
    background: var(--green);
    color: white;
}

#menu-btn
{
display: none;
}

.header .navbar.active{
    right: 2rem;
    transition: .4s linear;
}

.header .search-form{
    border: 0px solid;
    position: absolute;
    top:110%;
    right:-110%;
    max-width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form.active
{
    right:2rem;
    transition: .4s linear;

}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color: var(--green);
}

.header .shopping-cart{
    position: absolute;
    top: 110%;
    right: -100%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: white;
}

.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}


.header .shopping-cart .box
{
    border: 1px solid blue;
    display:flex;
    align-items: center;
    gap: 1remS;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img{
    height:10rem;
}

.header .shopping-cart .box .fa-trash
{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translate(-50%);
}

.header .shopping-cart .box .fa-trash :hover{
    color: var(--green);
}

.header .shopping-cart .box .content h3{
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content span{
    color: var(--light-color);
    font-size: 1.6rem;
}
.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn
{
    display: block;
    text-align: center;
    margin :1rem ;
}

.header .login-form
{
    border: 0px solid;
    position: absolute;
    width: 35 rem;
    top: 110%;
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}


.header .login-form.active
{
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box
{
    width: 100%;
    border: 0px solid;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    
}

.header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login-form p a{
   
    color: var(--green);
    text-decoration: underline;
}

.home{
    display: flex;
    justify-content: center;
    background: url('vegie.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content
{
    text-align: center;
    width: 60 rem;
}

.home .content h3{
    color: var(--black);
    font-size: 3rem;
}

.home .content h3 span{
    color: var(--green);
}

.home .content p{
    color: var(--black);
    font-size: 1.8rem;
    padding: 2rem 0;
    line-height: 1.8;
}

/*features */

.features{
    padding: 0 2rem;
}


.features .box-container
{
 border:0px solid;
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
 gap: 1rem;
 margin: 0 auto;
 max-width: 1200px;
 padding: 0 2rem;
}

.features .box-container .box{
    border: 0 px solid red;
    padding: 3rem 2rem;
    background:#fff;
    outline: var(--outline);
    outline-offset:-1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.features .box-container .box img{
    margin: 1rem 0;
    height: 15rem;

}

.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}

.features .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding-bottom: 1rem 0 ;
}


/*features*/

/*products*/

.products{
    padding:0 5%;
}

.products .products-slider{
    border: 0px solid;
    padding: 2rem;
    margin:0 auto;
}

.products .products-slider:first-child{
    margin-bottom: 2rem;
}

.products .products-slider .box{
    border: 0px solid red;
    background: white;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    margin: auto;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
    width:180px;
}

.products .products-slider .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);

}

.products .products-slider .box img{
    height: 10rem;
    width:auto;
    object-fit: cover;
}

.products .products-slider .box  h1{
    font-size: 2.5rem;
    color:var(--black)
}

.products .products-slider .box .price{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.products .products-slider .box .stars i{
    font-size: 1.7rem;
    color: orange;
    padding: .5rem 0;
}


/*products*/


/*categories*/ 
.categories{
    padding: 0 2rem;
}


.categories .box-container
{
 border:0px solid;
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
 gap: 1rem;
 margin: 0 auto;
 max-width: 1200px;
 padding: 0 2rem;
}

.categories .box-container .box{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px solid red;
    padding: 3rem 2rem;
    background:#fff;
    border-radius: .5rem;
    outline: var(--outline);
    outline-offset:-1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.categories .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.categories .box-container .box img{
    margin: 1rem 0;
    height: 10rem; /* Adjust this value to make the image smaller */
    width:auto;/* Ensures the image maintains its aspect ratio */
    object-fit: cover; /* Or use 'contain' depending on how you want the image to fit */

}

.categories .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}

.categories.box-container .box p{
    font-size:3 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding-bottom: 1rem 0 ;
}

/*categories*/


/*review*/

.review{
    padding: 0 10%;
}
.review .review-slider{
    border: 0px solid;
    padding: 1rem;
    margin: auto;
}


.review .review-slider .box{
    border: 0 px solid red;
    padding: 3rem 2rem;
    background:#fff;
    border-radius: .5rem;
    outline: var(--outline);
    outline-offset:-1rem;
    text-align: center;
    padding: 3rem 2rem;
    margin:auto;
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.review .review-slider .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.review .products-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .products-slider .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 2rem;
}

.review .products-slider .box h3{
    padding-bottom: .5rem;
    color: var(--black);
    font-size: 2.2rem;
}

.review .products-slider .box .stars{
    color: orange;
    font: size 1.7rem;
}

/*review*/

/*blogs*/
.blogs .box-container
{
 border:0px solid;
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
 gap: 1rem;
 margin:0 auto;
 padding: 0 1rem;
 max-width: 1200px;
}


.blogs .box-container .box{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 1rem;
    margin: 0.5rem;
}

.blogs .box-container .box img
{
 height: 21rem;
 width: 100%;
 object-fit: cover;
}

.blogs .box-container .box .content{
    border: 0px solid;
    padding: 1rem;
}

.blogs .box-container .box .content .icons{
    border: 0px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid black;;
}

.blogs .box-container .box .content .icons a{
    color: var(--light-color);
    font-size: 1.5rem;
}


.blogs .box-container .box .content .icons a:hover{
    color: var(--black);
}

.blogs .box-container .box .content .icons a i{
    color: green;
    padding-right:.5rem ;
}

.blogs .box-container .box .content .icons h3{
  line-height: 1.8rem;
  color: var(--black);
  font-size: 1.5rem;
  padding: .5rem 0;
}

.blogs .box-container .box .content p{
    line-height: 1.8rem;
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
  }
/*blogs*/


/*footer*/
.footer{
    background: #fff;
    margin-top: 3rem;
}

.footer .box-container{
    border:0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    gap: 0rem;
}

.footer .box-container .box{
    font-size: 2.5rem;
    color: var(--black);
    padding: 15 10rem;
}

.footer .box-container .box h3 i{
    color: var(--green);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}



.footer .box-container .box .links i{
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;  
}

.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a{
    border: 0px solid;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--green);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img{
  margin-top: 2rem;
  height: 7rem;
}


.footer .credits{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}

.footer .credits span{
    color: var(--green);
}
/*footer*/



/*media queries */

@media (max-width: 1200px) {
    .features .box-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    }
}

@media (max-width: 768px) {
    .features .box-container {
        grid-template-columns: 1fr; /* 1 column for small screens */
    }
}

@media (max-width: 991px)
{
    html
    {
   font-size: 55%;
    }

    .header
    {
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media (max-width: 768px)
{
    #menu-btn
    {
        display: inline-block
    }


    .header .search-form{
        width: 90%;
    }

    .header .navbar
    {
   position: absolute;
   top:110%;
   right: -110%rem;
   width: 30rem;
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   background: #fff;
   transition: right .4s linear;
 }

 .header .navbar a
 {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
 }
}



@media (max-width: 450px){
    html
    {
   font-size: 50%;
    }

    .heading
    {
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;

    }
}